.footer {
    a {
        text-decoration: unset;
    }
    & .social {
        padding: 20px 0px;
        li {
            display: inline;
        }
        img {
            width: 40px;
        }
        & .logo {
            width: 200px;
        }
        span {
            display: block;
            padding: 10px 0px;
        }
    }
    & .detail {
        ul {
            list-style: none;
        }
        li {
            padding: 15px 0px;
            padding-left: 45px;
            position: relative;
        }
        img {
            position: absolute;
            top: 50%;
            width: 30px;
            height: auto;
            margin-top: -15px;
            left: 0;
            // margin-left: -15px;            
        }
    }
    & .copyright {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 0;
        text-align: center;
        color: white;
        line-height: 70px;
        height: 70px;
        display: block;
    }
}