.header {
    .nav {
        position: relative;
        height: 70px;
        background-color: $main-color;
        & .row {
            padding-top: 20px;
            box-sizing: border-box;
        }
        & .logo {
            width: 200px;
            padding-left: 20px;
        }
        & .menu {
            cursor: pointer;
            color: white;
            transform: scale(1.5, 1.5);
            position: absolute;
            margin-top: 10px;
            right: 50px;
            @include MediaQueryMore(960px) {
                display: none;
            }
        }
        .navbar {
            display: none;
            position: absolute;
            right: 5%;
            padding-top: 10px;
            li {
                float: left;
            }
            & .item {
                position: relative;
                a {
                    cursor: pointer;
                    text-decoration: unset;

                }
                color: white;
                font-size: 14px;
                padding-right: 20px;
                & .dropdown-content {
                    box-shadow: 0px 1px 1px 1px grey;
                    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
                    top: 15px;
                    left: 50%;
                    width: 120px;
                    margin-left: -70px;
                    display: none;
                    text-align: center;
                    z-index: 10;
                    position: absolute;
                    background-color: rgba($color: white, $alpha: 0.7);
                    a {
                        color: black;
                        display: inline-block;
                        padding: 10px 10px;
                        white-space: nowrap;
                    }
                }
                &:hover {
                    .dropdown-content {
                        display: block;
                    }
                }
            }
            & .lang {
                text-decoration: unset;
                cursor: pointer;
                color: black;
                position: relative;
               
                &:before {
                    content: "";
                    position: absolute;
                    height: 70px;
                    left: 0;
                    border-right: 1px rgba(0, 0, 0, 0.1) solid;
                    margin-top: -30px;
                    margin-left: -10px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    height: 70px;
                    border-left: 1px rgba(0, 0, 0, 0.1) solid;
                    margin-top: -30px;
                    right: 0;
                    margin-right: -10px;
                }
            }
            @include MediaQueryMore(1050px) {
                display: block;
            }
        }
    }
    
    & .slideshow {
        position: relative;
        & .arrow-left {
            cursor: pointer;
            position: absolute;
            top: 45%;
            left: 1%;
            color: white;
            font-size: 50px;
            z-index: 100;
            @include TextShadow(2px, black);
        }
        & .arrow-right {
            cursor: pointer;
            position: absolute;
            top: 45%;
            right: 1%;
            color: white;
            font-size: 50px;
            z-index: 100;
            @include TextShadow(2px, black);
        }
    }
}

//rewrite 
.slick-slide {
    display: block;
}
.slick-dots {
    position: absolute;
    bottom: 5px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots li button:before {
    color: white;
    opacity: unset;
    font-size: 15px;
    @include TextShadow(2px, $main-color);    
}

.slick-dots li.slick-active button:before {
    color: $main-color;
    font-size: 15px;
    @include TextShadow(1px, unset);
}

.slick-slide img {
    width: 100%;
    display: block;
    // height: 100%;
}