#loader-wrapper {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #333;
    #loader {
        border: 10px white solid;
        border-top: 10px lightseagreen solid;
        border-radius: 50%;
        position: absolute;
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        animation: loop 2s linear infinite;
        transition: width 1s linear 1s;
        @keyframes loop {
            from { transform: rotate(0deg)}
            to { transform: rotate(360deg)}
        }
        &:hover {

        }
    }
}

#main {
    display: none;
    .inline-navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lightgray;
        ul {
            height: 50px;
            list-style: none;
            width: 100%;
            li {
                display: inline-block;
                width: 20%;
                text-align: center;
                a {
                    color: white;
                    text-decoration: unset;
                    display: block;
                    padding: 17px 0px;
                }
            }
            &:before {
                content: "";
                height: 100%;
                width: 0%;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    .float-navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: lightblue;
        ul {
            list-style: none;
            width: 100%;
            li {
                float: left;
                padding: 0 10px;
                width: 20%;
                text-align: center;
                a {
                    color: black;
                    text-decoration: unset;
                    padding: 20px 40px;
                    display: block;
                    width: 100%;
                }
                vertical-align: middle;
            }
            &:after {
                content: "";
                clear: both;
                display: block;
            }
        }
    }
    .title {
        color: red;
        font-size: 30px;
    }
    .content {
        color: green;
        font-size: 30px;
        padding: 50px 0px;
    }

    .hidden-wrapper {
        height: 300px;
        overflow: hidden;
    }

    #show {
        width: 200px;
        height: 50px;
        background-color: lightseagreen;
        margin: 50px auto;
        text-align: center;
        color: white;
        font-size: 20px;
        line-height: 50px;
        &:hover {
            box-shadow: 0px 1px 1px 1px black;
        }
    }

    .empty {
        height: 300px;
    }

}