.clearfix {
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-default {
    text-align: unset;
}

.BluePlaceHolder {
    width: 100%;
    height: 100%;
    background-color: #0D8FDB;
}

.GreenPlaceHolder {
    width: 100%;
    height: 100%;
    background-color: #39DBAC;
}

.RedPlaceHolder {
    width: 100%;
    height: 100%;
    background-color: #B74926;
}