body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6; }

.button {
  background-color: coral;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  border: 0px;
  color: white; }
  .button:hover {
    background-color: #333; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 30px;
    width: 70%;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0px 7px 20px 0px rgba(0, 0, 0, 0.17); }

.closeBtn {
  float: right;
  color: #ccc;
  font-size: 20px; }
  .closeBtn:hover, .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }
