@charset "UTF-8";
.container {
  width: 1000px;
  margin: 0 auto; }

.clearfix {
  clear: both; }

body, html {
  font-family: 'Arial', '微軟正黑體', 'Microsoft JhengHei';
  min-width: 1024px; }

* {
  box-sizing: border-box; }

.header {
  background-image: url("../images/headerBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 950px;
  text-align: center; }
  .header__nav {
    padding-top: 125px; }
    .header__nav img {
      float: left; }
    .header__nav ul {
      float: right; }
    .header__nav__item {
      float: left; }
      .header__nav__item a {
        font-weight: bold;
        color: #ac0b28;
        line-height: 25px;
        text-decoration: none;
        padding: 5px 25px;
        margin-left: 20px; }
        .header__nav__item a:hover {
          border-radius: 50px;
          background-color: #ac0b28;
          color: white; }
      .header__nav__item--link:after {
        content: '|';
        padding-left: 30px;
        line-height: 10px; }
  .header__title {
    padding-top: 150px;
    font-size: 85px;
    font-family: Helvetica;
    font-weight: bold;
    color: #ac0b28;
    width: 700px;
    margin: 0 auto; }
  .header__paragraph {
    font-size: 20px;
    width: 725px;
    margin: 0 auto;
    padding-top: 70px;
    line-height: 180%;
    font-weight: bold; }

.section {
  position: relative;
  margin-top: -12%; }
  .section img {
    width: 100%; }
  .section__container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    text-align: center; }
  .section__paragraph {
    display: inline-block;
    font-weight: bold;
    width: 480px;
    font-size: 18px;
    line-height: 160%;
    color: white; }
  .section__link {
    display: inline-block;
    font-weight: bold;
    padding: 7px 70px;
    background-color: white;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    color: #ac0b28;
    margin-bottom: 20px; }

.main {
  text-align: center; }
  .main__background {
    padding-bottom: 50px;
    background-image: url("../images/mainBG.png");
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-size: contain; }
    .main__background img {
      width: 1000px;
      height: auto; }
  .main__title {
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold; }
  .main__paragraph {
    font-weight: bold;
    font-size: 15px;
    padding-top: 30px;
    line-height: 30px; }
  .main__circle {
    position: relative;
    top: -30px;
    width: 100%;
    height: auto; }
  .main__link {
    margin-top: -100px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative; }
    .main__link a {
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      background-color: #d00f31;
      border-radius: 50px;
      text-decoration: none;
      color: white;
      padding: 10px 100px; }
  .main__phone {
    width: 100%;
    height: auto;
    position: relative;
    left: 35px; }

.feature {
  text-align: center; }
  .feature__title {
    padding-top: 150px;
    font-size: 18px;
    font-weight: bold; }
  .feature__paragraph {
    padding-top: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold; }
  .feature__logo {
    padding-top: 70px;
    width: 100%;
    height: auto; }
  .feature__link {
    background-color: #d00f31;
    border-radius: 50px;
    color: white;
    padding: 15px 150px;
    position: relative;
    top: -100px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold; }

.map {
  margin-top: 70px;
  height: 200px;
  background-image: url("../images/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }
  .map__title {
    padding-top: 30px;
    font-size: 32px;
    color: #d00f31;
    font-weight: bold; }
  .map__paragraph {
    margin-top: 15px;
    padding: 5px 10px;
    line-height: 30px;
    background-color: #d00f31;
    width: 300px;
    color: white;
    font-weight: bold; }

.footer {
  margin-top: 50px; }
  .footer__brand {
    width: 100%;
    height: auto; }
  .footer__copyright {
    padding-top: 30px;
    text-align: center;
    color: #666666;
    font-weight: bold; }
