$font-weight: bold;
$font-title-size: 32px;
$font-paragraph-size: 18px;
$color: #d00f31;   

.container {
    width: 90%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

body, html {
    font-family: 'Arial', '微軟正黑體', 'Microsoft JhengHei';
}

* {
    box-sizing: border-box;
}

.nav {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    text-align: center;
    z-index: 1;
    height: 70px;
    line-height: 70px;
    width: 100%;
    &__logo {
        vertical-align: middle;
    }
    &__menu {
        right: 5%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
        // display: inline-block;
        // vertical-align: middle;
        // &:before {
        //     content: '';
        //     display: inline-block;
        //     vertical-align: middle;
        // }
    }
    &__close {
        display: none;
        position: absolute;
        top: 50%;
        right: 5%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


.menu {
    top: -100%;
    position: fixed;
    z-index: 2;
    width: 100%;
    &__item {
        text-align: center;
        display: block;
        height: 60px;
        background-color: $color;
        text-decoration: none;
        font-size: 23px;
        color: white;
        line-height: 60px;
        border-top: white solid 1px;
        &:hover {
            background-color: #c93d56;
        }
    }
}

.header {
    position: relative;
    height: 500px;
    overflow: hidden;
    &__main {
        width: 100%;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -165px;
        color: $color;
        font-weight: $font-weight;
        font-size: 50px;
        line-height: 50px;        
    }
}


.main {
    text-align: center;
    padding-top: 10px;
    &__paragraph {
        margin: 0 auto;
        font-size: $font-paragraph-size;
        line-height:220%;
        padding-bottom: 20px;
    }
    &__title {
        margin: 0 auto;
        padding-top: 40px;
        font-weight: $font-weight;
        font-size: $font-paragraph-size;
        line-height: 180%;
        padding-bottom: 35px;
    }
    &__link {
        margin-bottom: 50px;
        background-color: $color;
        border-radius: 50px;
        display: inline-block;
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 20px 0px;
        text-decoration: none;
        color: white;
        font-size: $font-paragraph-size;
    }
    .bold {
        font-size: 28px;
        line-height: 42px;
    }
    &__image {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .cross {
        margin-top: -80px;
    }
}

.feature {
    text-align: center;
    &__paragraph {
        font-size: $font-paragraph-size;
        line-height:220%;
        padding-bottom: 40px;
    }
    &__title {
        padding-top: 40px;
        font-weight: bold;
        font-size: $font-title-size;
        line-height: 180%;
        padding-bottom: 35px;
    }
    &__link {
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        background-color: $color;
        border-radius: 50px;
        display: block;
        width: 300px;
        padding: 20px 0px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
    &__image {
        display: block;
        margin: 0 auto;
    }
    
}

.map {
    padding-top: 100px;
    &__imageContainer {
        position: relative;
        margin: 0 auto;
        width: 600px;
    }
    &__map-mobile {
        display: block; 
        width: 100%;
    }
    &__map-pc {
        display: none;
    }
    &__title {
        position: absolute;
        top: 8%;
        left: 20%;
        font-size: 28px;
        color: $color;
        font-weight: $font-weight;
    }
    &__paragraph {
        position: absolute;
        top: 15%;
        left: 20%;
        background-color: $color;
        color: white;
        font-weight: $font-weight;
        font-size: $font-paragraph-size;
        line-height: 35px;
        text-align: left;
        padding: 10px;
    }
}

.footer {
    padding-top: 50px;
    text-align: center;
    &__brand-mobile {
        display: block;
        margin: 0 auto;
    }
    &__brand-pc {
        display: none;
        margin: 0 auto;
    }
    &__copyright {
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #666666;
    }
}

.active {
    top: 70px;
}

.inactive {
    top: -100%;
}

.clicked {
    display: inline;
}

.unclicked {
    display: none;
}